<!DOCTYPE html>
<title>404</title>
{% extends "template.html" %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

	<link rel="stylesheet" href="stylesheet/nav.css">
	<link rel="stylesheet" href="stylesheet/template.css">
	<link rel="stylesheet" href="stylesheet/template.css">
	
	<link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
    <link rel="manifest" href="stylesheet/imgs/icons/site.webmanifest">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
    <div class="navbar">
      <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="/about"><i class="fa fa-fw fa-about"></i> About</a>
      <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
      <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
    </div>
  </head>
  <body>

    {% block content %}

    <div class="body-div" style="text-align: center; font-family: Raleway;">

      <h1>Error 404</h1>
      <img src="assets/404_img.jpg" alt="Error 404 Not Found" width="396" height="396" style="border-radius:10px;border:solid;border-color:#000080;margin:10px;">
      <p>We can't seem to find the page you're looking for.</p>

    </div>
    {% endblock %}
  </body>
</html>
